{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>MailAddress creation</h1>

    <form action="{{ path('config_mailaddress_create', { 'mailaccountid': mailaccount.id }) }}"
          method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_mailaddress', { 'mailaccountid': mailaccount.id }) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}