{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.default"|trans() }}</h1>

    <h3>{{ "default.headline.uptime"|trans() }}</h3>
    <pre>{{ uptime }}</pre>
{% endblock %}
